
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #030712; /* gray-950 */
  color: white;
  overflow-x: hidden;
}

/* Custom Scrollbar for better look in dark mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
